<div style="position:fixed; left:10px; bottom:25px">
    <span style="padding:6px 12px; font-size:0.9rem"><i class="fa-solid fa-clock"></i> Radno vrijeme: 08:00 - 17:00</span>
    <br />
    <span style="padding:6px 12px; font-size:0.9rem"><i class="fa-solid fa-location-dot"></i> Hilandarska 48, Istočno Sarajevo</span>
    <br />
    <span style="padding:6px 12px; font-size:0.9rem"><i class="fa-solid fa-phone"></i> (+387) 65-169-752</span>
    <br />
    <a class="btn" href="mailto:admin@pcshop.com" style="font-weight:500"><i class="bi bi-envelope"></i> KONTAKTIRAJTE NAS</a>
</div>
