<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Vaš nalog je uspješno kreiran!</h2>
        <p>Sada se možete ulogovati na Vaš nalog.</p>
        <hr />
        <p>DOBRO DOŠLI!</p>
    </div>
</div>