<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Narudžba uspješno izvršena!</h2>
        <p>Sve vaše narudžbe možete provjeriti u sekciji "Narudžbe" na vašem profilu</p>
        <hr />
        <p>HVALA NA KUPOVINI!</p>
    </div>
</div>